@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.container {
	width: 600px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px);
}

.container > div {
	border: 1px solid #222;
	text-align: center;
}

/* body > div > div:nth-child(odd) { 
	background-color: red;
}

body > div > div:nth-child(even) {
	background-color: Crimson;
} */

.container > div:nth-child(odd){
	background-color: #fa8072;
}

.container > div:nth-child(even){
	background-color: #fabcb5;
}