@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1024px;	
	margin: 10px auto; /* 중앙 정렬 */
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px);
	gap: 10px;
}

.item {
	border-radius: 5px;
	font-size: 2em;
}

.item-1 {
	background-color: #3689ff;
	grid-column: 1/2;
	grid-row: 1/3;
}

.item-2 {
	background-color: #00cf12;
	grid-column: 2/4;
	grid-row: 1/2;
}

.item-3 {
	background-color: #ff9019;
	grid-column: 2/3;
	grid-row: 2/3;
}

.item-4 {
	background-color: #ffd000;
	grid-column: 3/4;
	grid-row: 2/3;
}

.item-5 {
	background-color: #ff3f3f;
	grid-column: 1/4;
	grid-row: 3/4;
}

@media (max-width: 768px){
	.container {
		width: 720px;
		margin: 10px auto;
		display: block;
	}
	
	.item {
		height: 200px;
		margin-bottom: 10px;	
	}
}

@media (max-width: 320px){
	.container {
		width: 300px;
		margin: 10px auto;
		display: block;
	}
	
	.item {
		height: 200px;
		margin-bottom: 10px;	
	}
}