<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 상세 조회</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
	<h2>게시글 상세조회</h2>
	<form id="frm" method="post">
	
		<input type="hidden" id="method" name="_method" value="PUT">
		<input type="hidden" name="boardId" th:value="${board.boardId}">
		
		<table class="board_detail">
				<colgroup>
					<col width="15%">
					<col width="35%">
					<col width="15%">
					<col width="35%">
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">글번호</th>
						<td th:text="${board.boardId}"></td>
						<th scope="row">조회수</th>
						<td th:text="${board.hitCnt}"></td>
					</tr>
					<tr>
						<th scope="row">작성자</th>
						<td th:text="${board.creatorId}"></td>
						<th scope="row">작성일</th>
						<td th:text="${board.createdDatetime}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="3">
							<input type="text" id="title" name="title" th:value="${board.title}">
						</td>
					</tr>
					<tr>
						<td colspan="4">
							<textarea title="내용" id="contents" name="contents" th:text="${board.contents}"></textarea>
						</td>
					</tr>
				</tbody>
		</table>
		
	</form>
	
	<div style="margin-top: 15px; text-align: right;">
		<a th:href="@{/board}" class="btn">목록으로</a>
		<button type="button" id="btnUpdate" class="btn">수정하기</button>
		<button type="button" id="btnDelete" class="btn">삭제하기</button>
	</div>
</div>

<script th:inline="javascript">

	const frm = document.getElementById('frm');
	const boardId = /*[[${board.boardId}]]*/0;
	const methodField = document.getElementById('method');

	document.getElementById('btnUpdate').addEventListener("click", function(){
		if(confirm("정말로 수정하시겠습니까?")) {
			methodField.value = "PUT";
			frm.action = "/board/" + boardId;
			frm.submit();
		}
	});
	
	document.getElementById('btnDelete').addEventListener("click", function(){
		
		if (confirm("이 게시물을 삭제하시겠습니까?")) {
			methodField.value = "DELETE";
			frm.action = "/board/" + boardId;
			frm.submit();
		}
	});
</script>
</body>
</html>




