<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지 상세 정보</title>
</head>
<body>
	<h2>공지 상세 정보</h2>
	<form th:action="@{/notice/update}" method="post">
		<div>아이디:<input type="text" name="id" th:value="${notice.id}"></div><br>
		<div>제목: <input type="text" name="title" th:value="${notice.title}"></div><br>
		<div>내용<input type="text" name="content" th:value="${notice.content}" placeholder="M/F 선택"></div><br>
		<div>작성자<input type="text" name="writer" th:value="${notice.writer}" placeholder="생년월일 입력"></div><br>
		<div>작성일<input type="text" name="regDate" th:value="${notice.regDate}"></div><br>
		<div>조회수<input type="text" name="hit" th:value="${notice.hit}"></div><br>
		<button>정보 수정</button>
	</form> 
	<hr>
	<form th:action="@{/notice/delete}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?')">
		<input type="hidden" name="id" th:value="${notice.id}">
		<button type="submit">회원 강제 탈퇴</button>
	</form>
	<br>
	<a th:href="@{/notice/list}">목록으로 돌아가기</a>	
</body>
</html>