@charset "UTF-8";

table, th, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

th, td {
	padding: 10px 30px;
}

table {
	width: 600px;
	border-collapse: collapse;
	margin: 20px auto;
}

body{
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

#container {
	width: 600px;
	margin: 40px auto;
	padding: 30px;
	border: 2px solid black;
}

