@charset "UTF-8";

.box {
	width: 100px;
	height: 100px;
	background-color: purple;
	animation-name: roundTrip;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes roundTrip {
	from {
		transform:translateX(0);
	}
	to {
		transform:translateX(500px);	
	}
}