@charset "UTF-8";

.box {
	width: 100px;
	height: 100px;
	margin: 60px auto;
	animation:rotate 2s infinite, background 2s infinite alternate;
}

@keyframes rotate {
	
	from {
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	
	50% {
		transform: perspective(120px) rotateX(-90deg) rotateY(-90deg);
	}
	
	to {
		transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
	}
}

@keyframes background {
	
	from {
		background-color: red;
	}
	
	50% {
		background-color: green;
	}
	
	to {
		background-color: blue;
	}
}