@charset "UTF-8";

body {
	background-image: linear-gradient(to right, #ff5e62, #ff9966);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.button {
	text-decoration: none;
	font-size: 1.5em;
	letter-spacing: 2px;
	color: #fff;
	outline: 2px solid #fff;
	padding: 20px 60px;
	position: relative;
	overflow: hidden;
	transition: color 1sS;
}

.button::before{
   content:"";
   position: absolute;
   top: 0;
   left: -50px;
   width: 0;
   height: 100%;
   background-color: #fff;
   z-index: -10;
   transform: skewX(35deg); 
   transition: width 1s;
}

.button:hover {
	color: black;
}

.button:hover::before{
	width: 150%;
}