@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 450px;
    padding: 10px;
    border: 1px solid #222;
}
.box{
    width: 50px;
    height: 50px;
    background-color: #d7f4ff; 
    animation: roundTrip 3s infinite alternate, background 3s infinite alternate;
}

@keyframes roundTrip {
	from {
		transform:translateX(0);
	}
	
	to {
		transform:translatex(400px);
	}
	
}

@keyframes background {
	
	from {
		background-color: #ffe867;
	}
	
	50% {
		background-color: #ff5e62;
	}
	
	to {
		background-color: #17bdff;
	}
}

