@charset "UTF-8";

.container {
	width: 800px;
	height: 200px;
	margin: 20px auto;
}

.origin {
	border: 1px solid black;
	float: left;
	margin: 40px;
}

#rotate1:hover {
	transform: rotate(40deg);
}

#rotate2:hover {
	transform: rotate(-40deg);
}
