@charset "UTF-8";

.container {
	width: 800px;
	height: 200px;
	margin: 20px auto;
}

.origin {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 40px;
}

.origin > div {
	width: 100px;
	height: 100px;
	background-color: orange;
}

#scalex:hover {
	transform: scaleX(2);
}

#scaley:hover {
	transform: scaleY(2);
}

#scaley:hover {
	transform: scale(0.7);
}