@charset "UTF-8";

a:Link, a:visited {
	color: black;
	text-decoration: none;
}
	
ul {
	list-style: none;
	width: 500px;
	margin: 10px auto;
	padding: 0;
}

li {
	display: inline-block;
	width: 130px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	font-size: 16px;
}

#result {
	width: 490px;
	height: 300px;
	margin: 30px auto;
	border: 2px solid #ccc;
	border-radius: 15px;
}