@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

table, td {
	border: 1px solid #ccc; 
	border-collapse: collapse;
}

td {
	padding: 10px;
	font-size: 1em;
}