@charset "UTF-8";

body {
	background-color: Darkblue;	
	color: white;	
}

p {
	margin-top: 80px;
	font-size: 2em;
	font-weight: 700px;
	text-align: center;
	text-shadow: 1px 2px 1px #000;
}

p b {
	font-size: 2.2em;
	color: yellow;
}

/* body > p > b {
	font-size: 50px;
	color: yellow;
} */