@charset "UTF-8";

.container {
	width: 100%;
	height: 100px;
	display: flex;
	/* background-color: #eee; */
	border: 1px solid #222;
	gap: 10px;
}

.box {
	/* background-color: #222; */
	flex-basis: 300px;
}

.box:nth-child(odd) {
	background-color: orange;
}

.box:nth-child(even) {
	background-color: green;
}

p {
/* 	color: #fff; */
	text-align: center;
	/* font-size: 2rem; */
	font-weight: bold;
}

#box1 {
	flex-shrink: 1;
}

#box2 {
	flex-shrink: 0;
}

#box3 {
	flex-shrink: 2;
}