@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1 {
	font-size: 4rem;
}

body {
	background: url("../../static/images/bg-light.jpg") no-repeat fixed;
	background-size: cover;
}

@media screen and (min-width:768px) and (max-width:1023px) {
	body {
		background: url("../../static/images/bg-dark.jpg") no-repeat fixed;
		background-size: cover;
		color: #fff
	}
}

@media screen and (max-width:767px) {
	body {
		background: url("../../static/images/bg-small.jpg") no-repeat fixed;
		background-size: cover;
		color: #fff
	}
}