@charset "UTF-8";

.pic img {
    width: 100%;
    height: auto;
} 

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

.pic {
	flex-basis: 32%;
}

@media scream and (min-width:1025px) {
	.pic {
		flex-basis: 80%;
	}
}


@media scream and (min-width:769px) and (max-width:1024){
	.pic {
		flex-basis: 49%;
	}
}

@media scream and (max-width:768px) {
	.pic {
		flex-basis: 100%;
	}
}